div.img img, video {
    min-width: 100%;
    min-height: 100%
}

.app-button .app_back, .app-button .app_front, .imgContainer, a {
    cursor: pointer
}

html body {
    font-family: 'Lantinghei SC', 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, STHeiti, 'WenQuanYi Micro Hei', SimSun, Helvetica, sans-serif;
    margin: 0;
    padding: 0
}

html body.login {
    background-image: url(../img/back-login-02.jpg);
    background-position: top center;
    background-repeat: repeat-x;
    background-color: #f1f1f3;
    height: 100%
}

#password, #username {
    background-repeat: no-repeat;
    background-position: .45em center;
    background-size: 8%
}

.login .container {
    height: 100%
}

#loginContainer {
    height: 19.2em;
    margin-top: 18.685em;
    text-align: center;
    min-width: 23.333em;
    max-width: 33.333em
}

#logoContainer {
    height: 5.886em;
    padding-top: .4em;
    width: 100%
}

#formContainer {
    height: 14.787em;
    padding-top: 0;
    text-align: center
}

#formContainer #submitContainer, #formContainer input {
    width: 18.638em
}

#formContainer input {
    padding-left: 2.786em;
    margin: 1.52em .622em 0;
    height: 2.8em;
    background-color: #424958;
    border: 1px solid #424958;
    border-radius: 0;
    color: #6b6f7a
}

#submitContainer {
    height: 2.8em;
    margin: 2.122em auto
}

#submitContainer a {
    width: 7em;
    height: 2.6em;
    padding: .44em;
    display: block;
    color: #fff
}

#loginButton {
    background-color: #3192cf;
    border: 1px solid #3192cf;
    float: left
}

#resetButton {
    background-color: #1479c9;
    border: 1px solid #1479c9;
    float: right
}

#username {
    background-image: url(../img/icon-username-01.png)
}

#password {
    background-image: url(../img/icon-password-01.png)
}

html body.admin {
    height: 100%;
    overflow: hidden
}

html body.admin div.container-fluid.body-content {
    position: absolute;
    top: 12.14em;
    bottom: 10.842em;
    right: 1em;
    left: 1em;
    overflow-y: auto;
    text-align: center
}

.body-content img.disk {
    position: absolute;
    top: 50%;
    left: 50%
}

@font-face {
    font-family: xy;
    src: url(../fonts/xy.ttf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Blo;
    src: url(../fonts/Blo.otf);
    font-style: normal
}

@font-face {
    font-family: Ail;
    src: url(../fonts/Ailerons-Typeface.otf);
    font-style: normal
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: -9999
}

.desk-container {
    background: url(../img/desk-bg.png) no-repeat
}

.desk_content {
    position: fixed;
    left: 10%;
    top: 16%;
    width: 701px;
    height: 550px
}

.desk-content a, .desk_content a:focus, .desk_content a:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer
}

.desk_content h3 {
    font-size: 95px;
    line-height: 120px;
    font-weight: 100;
    font-family: Ail;
    color: #FFF6DE
}

div.app-button {
    width: 130px;
    height: 130px;
    text-align: center;
    color: #FFF;
    display: inline-block;
    position: relative
}

.app-button .desk-button .bt {
    margin-left: 15px
}

.desk-button > a {
    border-radius: 0;
    width: 130px;
    line-height: 60px;
    margin-top: 4px
}

.desk-button > span > a {
    font-size: 12px;
    color: #fff;
    margin-top: 2px
}

.app_back > a, .app_front a {
    display: block;
    color: #FFF
}

.app-button > p {
    width: 130px;
    height: 130px;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition-delay: .25s;
    backface-visibility: hidden
}

.app_back > a, .desk_content > div.app-button > p.app_back > span {
    font-family: xy;
    font-weight: 700;
    z-index: 1;
    text-indent: 2px;
    position: relative
}

.desk_content > div.app-button > p.empty {
    background: rgba(125, 125, 125, .5)
}

.app_front a {
    font-size: 50px;
    padding-top: 12px
}

.app_front span {
    font-family: xy;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    text-indent: 2px;
    font-weight: 700
}

.desk_content > div.app-button > p.app_back > span {
    font-size: 13px;
    top: 24px;
    left: -10px
}

.app_back > a {
    padding-left: 9px;
    padding-right: 8px;
    text-align: left;
    font-size: 8px;
    line-height: 13px;
    left: 0;
    top: 27px
}

#geneTable td, #geneTitle, #infoTable, .imgContainer, .paper .tabelBaseSet, .systemset ul li, footer {
    text-align: center
}

.desk_content > div.app-button > p.app_back > .icon {
    width: 15%;
    padding-left: 6px;
    padding-top: 6px;
    float: left
}

p.app_back > .bg {
    position: relative;
    left: 55px;
    bottom: 10px;
    width: 50%;
    float: left;
    z-index: 0
}

.desk_content > div.app-button:hover > p {
    z-index: 11
}

.app-button .app_back {
    transform: rotateY(-180deg)
}

.app-button:hover .app_front {
    transform: scale(2) rotateY(180deg)
}

.app-button:hover .app_back {
    transform: scale(2) rotateY(0)
}

.desk-button {
    background: rgba(5, 155, 239, .8) !important
}

.app-button {
    margin-left: 4px
}

div.img img {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    display: none
}

div.date {
    width: 388px;
    height: 988px;
    position: fixed;
    top: 5%;
    right: 10%
}

#wxlogo {
    position: absolute;
    left: 796px;
    height: 10px
}

#alertModal {
    overflow-y: hidden
}

.desk-time {
    color: #fff;
    position: absolute;
    left: 980px;
    top: 22px
}

.app_style {
    margin-left: 18px;
    margin-top: 20px
}

div.systemset {
    height: 100%;
    position: fixed;
    left: 0;
    top: 5%;
    color: #fff;
    background: url(../img/bg-icon.png) no-repeat;
    background-size: 100% 100%;
    opacity: 0
}

.systemset ul li {
    font-family: bas;
    list-style: none;
    margin-top: 8px
}

.systemset ul li a {
    display: block;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    color: #fff;
    opacity: .5
}

#useradmin .user {
    background: url(../img/user.png) center center no-repeat;
    background-size: 30px;
    margin-top: 240px
}

#useradmin:hover .user {
    background: url(../img/user1.png) center center no-repeat;
    background-size: 30px
}

#poweroff .closed {
    background: url(../img/close.png) center center no-repeat;
    background-size: 20px
}

#poweroff:hover .closed {
    background: url(../img/close1.png) center center no-repeat;
    background-size: 20px
}

#logout .off {
    background: url(../img/logoff.png) center center no-repeat;
    background-size: 20px
}

#logout:hover .off {
    background: url(../img/logoff1.png) center center no-repeat;
    background-size: 20px
}

#reset .reset {
    background: url(../img/reset.png) center center no-repeat;
    background-size: 20px
}

#reset:hover .reset {
    background: url(../img/reset1.png) center center no-repeat;
    background-size: 20px
}

footer, header {
    left: 0;
    right: 0;
    background-color: #0087a4;
    position: absolute
}

#logout:hover span a, #poweroff:hover span a, #reset:hover span a, #useradmin:hover span a {
    color: #00bfff
}

.nav li a {
    padding: 15px 10px
}

.nav li span a {
    padding: 5px
}

header {
    top: 0;
    padding: .8em 3em
}

header a {
    color: #fdfdfd
}

header .text-right {
    padding-top: 20px
}

header .text-right a {
    padding-left: 20px
}

#labelContainer {
    position: absolute;
    top: 8.14em;
    height: 4em;
    right: 1em;
    left: 1em;
    line-height: 4em
}

#buttonContainer {
    position: absolute;
    bottom: 4.842em;
    height: 6em;
    right: 1em;
    left: 1em;
    line-height: 6em
}

#importContainer, #managerContainer {
    position: absolute;
    bottom: 6em;
    right: 0;
    left: 1em;
    line-height: 3.6em
}

#importContainer .progress, #managerContainer .progress {
    margin-top: 1.2em;
    height: 34px
}

.calendar-dow-header {
    font-family: Blo;
    font-size: 16px
}

footer {
    bottom: 0;
    height: 4.374em;
    padding: .734em;
    color: #f9f9f9;
    font-size: 12px
}

.progress-bar {
    font-size: 16px;
    line-height: 34px
}

#progressContainer {
    position: absolute;
    top: 12.14em;
    left: 1em;
    right: 1em
}

#managerContainer .btn {
    margin-top: 18px
}

#logContainer, #uploadContainer {
    border: 1px solid #c9cbca;
    position: absolute;
    top: 15em;
    bottom: 10.842em;
    overflow-y: auto;
    left: 1em;
    right: 1em;
    padding: 1em
}

#logContainer {
    overflow: hidden
}

.imgContainer {
    position: relative;
    float: left;
    padding: 1em;
    margin: .14285em;
    height: 220px;
    width: 120px
}

.imgContainer:hover {
    background-color: #f5f5f5;
    border: 1px solid #eee
}

.selectedImgContainer {
    background-color: #eee
}

.imgContainer .file, .imgContainer .folder {
    margin: .8em
}

.imgContainer .title {
    word-break: break-all;
    font-size: 12px
}

.imgContainer span {
    position: absolute;
    right: 0;
    top: 0;
    display: none
}

.imgContainer span.showCloseIcon {
    display: inline
}

#logContainer textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #f1f1f3;
    margin: 0
}

#fileContainer, #fileSelectedContainer, #parameterContainer, #reportContainer, #xslxContainer {
    border: 1px solid #c9cbca;
    position: absolute;
    top: 12.14em;
    bottom: 10.842em;
    overflow-y: auto;
    left: 1em;
    right: 1em;
    padding: 1em
}

#fileContainer {
    background-color: #fafafa
}

#parameterContainer ul li {
    line-height: 20px
}

#uploadContainer, #xslxContainer {
    border: 1px solid #e6e6e6;
    text-align: center;
    color: #bbb;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fafafa
}

#uploadContainer form, #xslxContainer form {
    display: none
}

#xslxContainer .bootstrap-table {
    position: absolute;
    top: 10px
}

#reportContainer div.paper {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #f1f1f3;
    margin: 0;
    border: 1px;
    padding: 4px 6px;
    overflow: auto;
    display: block;
    vertical-align: middle
}

#checkType, #diseaseCharacter, #familyHistory, #productNum {
    width: 300px;
    font-size: 15px
}

#reportTable {
    background: url(../img/back-report.png?a=1.0) top left no-repeat;
    position: relative
}

#diseaseCharacter {
    top: 270px;
    left: 135px
}

#familyHistory {
    top: 305px;
    left: 135px
}

#productNum {
    top: 370px;
    left: 160px
}

#checkType {
    top: 440px;
    left: 160px
}

.reportLabel {
    display: block;
    position: absolute;
    height: 24px;
    width: 90px
}

#diseaseText {
    top: 410px;
    left: 160px;
    width: 300px;
    font-size: 15px
}

#geneTable, #infoTable {
    font-size: 14px;
    position: absolute
}

#infoTable {
    top: 230px;
    left: 14px;
    width: 910px
}

#geneTable {
    top: 570px;
    left: 28px;
    width: 850px
}

.paper .tabelBaseSet {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-left: #1f1f1f solid 1px;
    background-color: #fff
}

.paper .tabelBaseSet tr {
    height: 50px
}

.paper .tabelBaseSet .table-title-tr {
    background: #e85694;
    height: 35px
}

.paper .tabelBaseSet .table-title-tr td {
    border-bottom: 0
}

.paper .tabelBaseSet td {
    border-bottom: #1f1f1f solid 1px;
    border-right: #1f1f1f solid 1px
}

#logoInfoTable {
    border: 0
}

#logoInfoTable td {
    border-right: 0;
    border-bottom: 0
}

#logoDiv {
    height: 120px
}

#logoDiv #logoImg {
    text-align: left;
    margin-top: 20px;
    margin-left: 4%
}

#logoDiv #checkName {
    text-align: left;
    float: right;
    margin-right: 10%
}

.paper .clearFix:after {
    clear: both;
    display: #000;
    visibility: hidden;
    height: 0;
    line-height: 0;
    content: ""
}

#geneTitle {
    height: 40px;
    line-height: 24px;
    font-size: 24px
}

.paper .wordSet {
    line-height: 1.7em;
    word-spacing: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 13px;
    text-align: left
}

#statementTable #footerMsg {
    background: #fff;
    height: 30px;
    font-size: 14px
}

#statementTable .footerTdBorder {
    border-right: 0
}

.tabelBaseSet #tabel-advice-tr {
    height: 80px
}

.paper div.whiteBack {
    margin: 0 80px;
    padding: 40px 120px 80px;
    background-color: #FFF
}

.carousel .item div.text-result {
    padding: 80px 200px;
    height: 100%
}

.carousel .item iframe {
    width: 100%;
    height: 100%
}

.btn-app {
    margin-right: 20px
}

th {
    font-weight: 400;
    color: #0087a4;
    box-shadow: 5px
}

.carousel-control.left {
    background: url(../img/carousel-left.png) left center no-repeat
}

.carousel-control.right {
    background: url(../img/carousel-right.png) right center no-repeat
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev {
    opacity: 0
}

#targetRegionSelect {
    width: 400px;
    display: inline-block
}

td.break {
    word-break: break-all;
    word-wrap: break-word
}

.modal {
    line-height: 30px
}

#user-table tr td input {
    display: none
}

#fileSelectedContainer {
    position: absolute;
    top: 12.14em;
    left: 1em;
    right: 1em;
    padding: 4px;
    overflow-y: auto;
    font-weight: 400;
    width: 30%;
    border-right: 0
}

#fileSelectedContainer > div.btn {
    font-size: 12px;
    display: block;
    margin-bottom: 4px
}

#fileContainer {
    top: 12.14em;
    right: 1em;
    margin-left: 30%
}

@media print {
    #buttonContainer, #labelContainer, footer, header {
        display: none
    }

    #reportContainer div.paper {
        background-color: #FFF
    }

    #reportContainer, #reportContainer div.paper, body {
        overflow: none
    }

    #reportContainer {
        top: 0;
        bottom: 0;
        position: relative;
        border: 0;
        padding: 0;
        left: 0;
        right: 0
    }

    html body.admin {
        overflow: auto;
        height: none
    }

    .paper div.whiteBack {
        padding: 0;
        margin: 10px
    }

    .paper .tabelBaseSet .table-title-tr td, .paper .tabelBaseSet td {
        border-bottom: #1f1f1f solid 1px
    }

    div.paper {
        page-break-before: always;
        pag-break-inside: auto
    }

    table {
        page-break-before: auto;
        page-break-inside: avoid
    }

    table.tabelBaseSet {
        border-top: 1px solid #1f1f1f;
        margin-top: -1px
    }
}

body.theme-green header {
    background-color: #16d3c6
}

body.theme-green a.btn-primary, body.theme-green button.btn-primary {
    background-color: #16d3c6;
    border-color: #16d3c6
}

body.theme-green .progress-bar-striped {
    background-color: #16d3c6 !important
}

body.theme-blue header {
    background-color: #e85693
}

body.theme-blue a.btn-primary, body.theme-blue button.btn-primary {
    background-color: #e85693;
    border-color: #e85693
}

body.theme-blue .progress-bar-striped {
    background-color: #e85693 !important
}

.app-button-blue .app_front {
    background: rgba(232, 86, 148, .8)
}

.app-button-blue .app_back {
    background: rgba(232, 86, 148, .95)
}

.app-button-green .app_front {
    background: rgba(0, 220, 191, .8)
}

.app-button-green .app_back {
    background: rgba(0, 220, 191, .95)
}

.app-button-pink .app_front {
    background: rgba(230, 121, 185, .8)
}

.app-button-pink .app_back {
    background: rgba(230, 121, 185, .95)
}

.app-button-darkblue .app_front {
    background: rgba(91, 0, 240, .8)
}

.app-button-darkblue .app_back {
    background: rgba(91, 0, 240, .95)
}

.app-button-purple .app_front {
    background: rgba(145, 0, 240, .8)
}

.app-button-purple .app_back {
    background: rgba(145, 0, 240, .95)
}

.app-button-light .app_front {
    background: rgba(42, 230, 245, .8)
}

.app-button-light .app_back {
    background: rgba(42, 230, 245, .95)
}

body.theme-blue .paper .tabelBaseSet .table-title-tr {
    background-color: #e85693 !important
}

body.theme-green .paper .tabelBaseSet .table-title-tr {
    background-color: #16d3c6 !important
}